.contacto
  a(href='https://wa.me/50496308011', target='_blank')
    i.fa-brands.fa-whatsapp
  a(href='tu-link-linkedin', target='_blank')
    i.fa-brands.fa-linkedin
  a(href='https://github.com/SolimanHub/david', target='_blank')
    i.fa-brands.fa-github
  a(href='tu-link-gitlab', target='_blank')
    i.fa-brands.fa-gitlab
