.contacto
  a(href='ruta/a/tu-cv.pdf', download='TuNombre_CV.pdf', target='_blank', class='tooltip')
    i.fas.fa-file-pdf
    span.tooltiptext CV-ES
  a(href='https://wa.me/50496308011', target='_blank', class='tooltip')
    i.fa-brands.fa-whatsapp
    span.tooltiptext WhatsApp
  a(href='tu-link-linkedin', target='_blank', class='tooltip')
    i.fa-brands.fa-linkedin
    span.tooltiptext Linkedin
  a(href='https://github.com/SolimanHub/david', target='_blank', class='tooltip')
    i.fa-brands.fa-github
    span.tooltiptext GitHub
  a(href='tu-link-gitlab', target='_blank', class='tooltip')
    i.fa-brands.fa-gitlab
    span.tooltiptext GitLab
  a(href='mailto:david.soliman2010@gmail.com', class='tooltip')
    i.fa-solid.fa-envelope
    span.tooltiptext Email
