nav.menux
  .menu-icon(onclick='toggleMenu()')
    .bar
    .bar
    .bar
  .logo
    img(src='assets/icons/softliman.png' alt='Logo')
  ul.menu
    li
      a#menu_softliman(href='#') Softliman
    li
      a#menu_blog(href='#') Blog
    li
      a#menu_app(href='#') Aplicaciones
    li
      a#menu_descarga(href='#') Descargas
    li
      a#menu_galeria(href='#') Galeria
    li
      a#menu_contacto(href='#') Contacto

