nav.menux
  .menu-icon(onclick='toggleMenu()')
    .bar
    .bar
    .bar
  .logo
    img(src='assets/icons/softliman.png' alt='Logo')
  ul.menu
    li
      a#menu_softliman(href='/') Softliman
    li
      a#menu_blog(href='/blog') Blog
    li
      a#menu_app(href='/aplicaciones') Aplicaciones
    li
      a#menu_descarga(href='/descargas') Descargas
    li
      a#menu_galeria(href='/galeria') Galería
    li
      a#menu_contacto(href='/contacto') Contacto

